@charset "UTF-8";

@import "~@/assets/css/variables";
@import "~@/assets/css/font";
@import "~@/assets/css/icon";
@import "~@/assets/css/mixin";
@import "~@/assets/css/reset";

body {
  font-family: $ptd;
  font-weight: $font-md;
  color: $black;
  background-color: $pale !important;
}

.main {
  min-height: 100vh;
  padding: 160px 0;
  margin-bottom: 150px;
  background-color: $pale;
}

// ********** NO POINTER EVENT ********** //
.pointer--no-event {
  pointer-events: none;
}
// ********** SCREEEN READER ONLY ********** //
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
// ********** COLOR TEXT STYLE ********** //
.text--strong { font-weight: $font-b; }
.text--black { color: $black; }
.text--deep-blue { color: $deep-blue; }
.text--white { color: white; }
// ********** COMMON BUTTON STYLE ********** //
.common-button {
  @include flex(true, row, nowrap, center, center);

  height: 45px;
  padding: 0 24px;
  font-family: $ptd !important;
  font-weight: $font-md;
  font-size: 16px;
  color: $deep-blue;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 24px;
  transition: all 0.3s ease;
  background-color: white;
  
  // 상태
  &:hover {
    box-shadow: 0 2px 8px rgba($black, 0.2);
    transition: all 0.3s ease;
  }
  &:active {
    box-shadow: inset 0 4px 8px rgba($black, 0.2);
    transition: all 0.3s ease;
  }
  // 클래스
  &.button--active:not(.button--disabled):not(:disabled) {
    color: white;
    background-color: $deep-blue;

    &:active {
      box-shadow: inset 0 4px 8px rgba($black, 0.5);
    }
  }
  &.button--outlined {
    border: 1px solid $deep-blue;
  }
  &.button--outlined--black {
    border: 1px solid $black;
  }
  // fab
  &.button--fab {
    width: 45px;
    padding: 0;
  }
  // 비형식, 탈출된 스타일
  &.button--escape {
    width: unset;
    height: unset;
    background-color: transparent;
  }
  // 최우선 상태 선택자
  &.button--depressed {
    
    &:hover {
      box-shadow: unset;
    }
  }
  &.button--disabled,
  &:disabled {
    @extend .pointer--no-event;

    color: $border-gray;
    background-color: $pale;

    .icon {
      opacity: .5;
    }

    &.button--outlined,
    &.button--outlined--black {
      border-color: $border-gray;
    }
    &:hover {
      box-shadow: unset !important;
    }
  }
}
// ********** COMMON DIALOG STYLE ********** //
.common-dialog {
  @include card;
  @include flex(false, column, nowrap, flex-start, center);

  padding: 24px 32px;
  gap: 24px;
  
  .dialog__title {
    width: 100%;
    font-size: 20px;
    font-weight: $font-b;
    text-align: center;
  }
  .dialog__content {
    width: 100%;
    text-align: center;
    font-weight: $font-md;
    line-height: 1.4;
  }
  .dialog__actions {
    @include flex(false, row, nowrap, center, center);

    width: 100%;

    &.actions--align-left {
      justify-content: flex-start;
    }
    &.actions--align-right {
      justify-content: flex-end;
    }

    .action-button {
      padding: 10px 24px;
    }
  }
}
// ********** COMMON TAG LIST STYLE ********** //
.common-tag-list {
  @include flex(false, row, wrap, flex-start, center);

  width: 100%;
  align-content: center;
  gap: 8px;

  .tag__item {
    padding: 8px 12px;
    border: 1px solid $deep-blue;
    color: $deep-blue;
    font-size: 14px;
    font-weight: $font-lt;
    line-height: 1;
    border-radius: 24px;
  }
}
// ********** CARD TITLE | CONTENTS ********** //
.card__title {
  @include flex(flase, row, nowrap, space-between, center);

  min-width: 100%;
  height: 32px;
  margin-bottom: 24px;

  .title__text {
    color: $deep-blue;
    font-weight: $font-b;
    font-size: 18px;
  }

  .title__action {
    padding: 10px;

    .icon {
      @include icon-custom(16);
    }
  }
}
.card__contents {
  width: 100%;
}


// ********** vue Transition ********** //
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.v-enter-to,
.v-leave {
  opacity: 1;
}
